<html lang="en">
<head>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

        * {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            vertical-align: baseline;
            box-sizing: border-box;
            color: inherit;
        }

        html {
            background: url("{{carbon_public_root}}/view/assets/img/Carbon-teal.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            height: 100vh;
        }

        h1 {
            font-size: 45vw;
            text-align: center;
            position: fixed;
            width: 100vw;
            z-index: 1;
            color: #ffffff26;
            text-shadow: 0 0 50px rgba(0, 0, 0, 0.07);
            top: 50%;
            transform: translateY(-50%);
            font-family: "Montserrat", monospace;
        }

        div {
            background-color: rgba(1,1,1,0.9);
            width: 70vw;
            overflow: scroll;
            max-height: 80%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            padding: 30px 30px 10px;
            box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
            z-index: 3;
        }

        P {
            font-family: "Share Tech Mono", monospace;
            color: #f5f5f5;
            margin: 0 0 20px;
            font-size: 17px;
            line-height: 1.2;
        }

        span {
            color: #f0c674;
        }

        i {
            color: #8abeb7;
        }

        div a {
            text-decoration: none;
        }

        b {
            color: #81a2be;
        }

        a.avatar {
            position: fixed;
            bottom: 15px;
            right: -100px;
            animation: slide 0.5s 4.5s forwards;
            display: block;
            z-index: 4
        }

        a.avatar img {
            border-radius: 100%;
            width: 44px;
            border: 2px solid white;
        }

        @keyframes slide {
            from {
                right: -100px;
                transform: rotate(360deg);
                opacity: 0;
            }
            to {
                right: 15px;
                transform: rotate(0deg);
                opacity: 1;
            }
        }

        pre {
            background-color:rgba(18,18,18,0.9);
            max-height: 30%;
            overflow:scroll;
            margin:0 0 1em;
            padding:.5em 1em;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: rgba(0,255,252,0.5);
            -webkit-box-shadow: 0 0 1px rgba(0,255,252,0.5);
        }

        pre code,
        pre .line-number {
            /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
            font:normal normal 12px/14px "Courier New",Courier,Monospace;
            color:black;
            display:block;
        }

        pre .line-number {
            float:left;
            margin:0 1em 0 -1em;
            border-right:1px solid;
            text-align:right;
        }

        pre .line-number span {
            display:block;
            padding:0 .5em 0 1em;
        }

        pre .cl {
            display:block;
            clear:both;
        }
    </style>
    <script src="{{carbon_public_root}}/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="{{carbon_public_root}}/node_modules/jquery-backstretch/jquery.backstretch.min.js"></script>
    <script>
        (function() {
            var pre = document.getElementsByTagName('pre'),
                    pl = pre.length;
            for (var i = 0; i < pl; i++) {
                pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML + '<span class="cl"></span>';

                let regExp = /\\n /;

                var num = pre[i].innerHTML.split(regExp).length;
                for (var j = 0; j < num; j++) {
                    var line_num = pre[i].getElementsByTagName('span')[0];
                    line_num.innerHTML += '<span>' + (j + 1) + '</span>';
                }
            }
        })();
    </script>
</head>
<body>
<h1>{{{code}}}</h1>
<div>
    <p>> <span>HTTP RESPONSE</span>: "<i>HTTP {{{code}}} {{{statusText}}}</i>"</p>
    <p>> <span>{{{actual_message}}}</span>: "<i>{{{actual_message_body}}}</i>"</p>
    {{{cleanErrorReport}}}
</div>
</div>
<a class="avatar" href="/" title="Go Home"><img src="{{carbon_public_root}}/view/assets/img/Carbon-white.png"/></a>
</body>
</html>
